@inject IUsersPhotoService PhotoService

@{
    var displayName = User.Identity.GetUserDisplayName();
    var username = User.Identity.GetUserName();
    var photoUrl = PhotoService.GetCurrentUserPhotoUrl(); 
}


<div class="d-flex align-items-center ms-1 ms-lg-3" id="ppc_header_user_menu_toggle">
    <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-ppc-menu-trigger="click"
        data-ppc-menu-attach="parent" data-ppc-menu-placement="bottom-end" data-ppc-menu-flip="bottom">

        <img class="iconimg" src="@photoUrl" alt="@displayName" />

    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold py-4 fs-6 w-275px"
        data-ppc-menu="true">
            <div class="menu-item px-3">
                <div class="menu-content d-flex align-items-center px-3">
                    <div class="symbol symbol-50px me-5">
                        <img alt="@displayName" src="@photoUrl" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="fw-bolder d-flex align-items-center fs-5">
                            @displayName
                        </div>
                        <a href="#" class="fw-bold text-muted text-hover-primary fs-7">@username</a>
                    </div>
                </div>
            </div>
            <div class="separator my-2"></div>
            <div class="menu-item px-5">
                <a class="menu-link px-5" asp-controller="User" asp-action="Index" asp-area="@AreaConstants.DashboardArea">
                    صفحه شخصی شما
                </a>
            </div>
            <div class="menu-item px-5">
                <a class="menu-link px-5" asp-controller="UserProfile" asp-action="Index"
                asp-area="@AreaConstants.DashboardArea">
                    تنظیمات حساب کاربری
                </a>
            </div>
            <div class="menu-item px-5 my-1">
                <a class="menu-link px-5" asp-controller="ChangePassword" asp-action="Index"
                asp-area="@AreaConstants.DashboardArea">
                    تغییر کلمه‌ی عبور
                </a>
            </div>
            <div class="menu-item px-5">
                <a class="menu-link px-5" asp-controller="Login" asp-action="LogOff"
                asp-area="@AreaConstants.DashboardArea">
                    خروج
                </a>
            </div>
        </div>
    }
</div>
