<div class="overflow-auto pb-5">
    <div
        class="notice d-flex bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-6">
        <span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <path
                    d="M6,7 C7.1045695,7 8,6.1045695 8,5 C8,3.8954305 7.1045695,3 6,3 C4.8954305,3 4,3.8954305 4,5 C4,6.1045695 4.8954305,7 6,7 Z M6,9 C3.790861,9 2,7.209139 2,5 C2,2.790861 3.790861,1 6,1 C8.209139,1 10,2.790861 10,5 C10,7.209139 8.209139,9 6,9 Z"
                    fill="#000000" fill-rule="nonzero"></path>
                <path
                    d="M7,11.4648712 L7,17 C7,18.1045695 7.8954305,19 9,19 L15,19 L15,21 L9,21 C6.790861,21 5,19.209139 5,17 L5,8 L5,7 L7,7 L7,8 C7,9.1045695 7.8954305,10 9,10 L15,10 L15,12 L9,12 C8.27142571,12 7.58834673,11.8052114 7,11.4648712 Z"
                    fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path
                    d="M18,22 C19.1045695,22 20,21.1045695 20,20 C20,18.8954305 19.1045695,18 18,18 C16.8954305,18 16,18.8954305 16,20 C16,21.1045695 16.8954305,22 18,22 Z M18,24 C15.790861,24 14,22.209139 14,20 C14,17.790861 15.790861,16 18,16 C20.209139,16 22,17.790861 22,20 C22,22.209139 20.209139,24 18,24 Z"
                    fill="#000000" fill-rule="nonzero"></path>
                <path
                    d="M18,13 C19.1045695,13 20,12.1045695 20,11 C20,9.8954305 19.1045695,9 18,9 C16.8954305,9 16,9.8954305 16,11 C16,12.1045695 16.8954305,13 18,13 Z M18,15 C15.790861,15 14,13.209139 14,11 C14,8.790861 15.790861,7 18,7 C20.209139,7 22,8.790861 22,11 C22,13.209139 20.209139,15 18,15 Z"
                    fill="#000000" fill-rule="nonzero"></path>
            </svg>
        </span>

        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
            <div class="mb-3 mb-md-0 fw-bold">
                <h4 class="text-gray-800 fw-bolder">کیف پول های سناتور</h4>
                <div class="fs-6 text-gray-600 pe-7">دارایی خود را در کیف پول های سناتور نگهداری کنید</div>
            </div>
            <a href="#" class="btn btn-primary px-6 align-self-center text-nowrap">کسب درآمد از سناتور</a>
        </div>
    </div>
</div>

<div class="row g-6 g-xl-9">
    <div class="col-md-6 col-xxl-4">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="/theme/Desktop/assets/media/wallet/Billiard-wallet-usdt-trc20.png" alt="image">
                </div>
                <a asp-controller="Wallet" asp-action="Toman" asp-area="@AreaConstants.DashboardArea"
                    class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">کیف پول تتر - TRC-20</a>
                <div class="fw-bold text-gray-400 mb-6"></div>
                <div class="d-flex flex-center flex-wrap">
                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700"> 0 تتر</div>
                        <div class="fw-bold text-gray-400">موجودی کامل</div>
                    </div>

                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700">0 تتر</div>
                        <div class="fw-bold text-gray-400">موجودی قابل برداشت</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-xxl-4">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="/theme/Desktop/assets/media/wallet/Billiard-wallet-usdt-erc20.png" alt="image">
                </div>
                <a asp-controller="Wallet" asp-action="WebMoney" asp-area="@AreaConstants.DashboardArea"
                    class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">کیف پول تتر ERC-20</a>
                <div class="fw-bold text-gray-400 mb-6"></div>
                <div class="d-flex flex-center flex-wrap">
                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700"> 0 تتر</div>
                        <div class="fw-bold text-gray-400">موجودی کامل</div>
                    </div>

                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700">0 تتر</div>
                        <div class="fw-bold text-gray-400">موجودی قابل برداشت</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xxl-4">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="/theme/Desktop/assets/media/wallet/Billiard-wallet-Billiard.png" alt="image">
                </div>
                <a asp-controller="Wallet" asp-action="Billiard" asp-area="@AreaConstants.DashboardArea"
                    class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">کیف پول سناتور</a>
                <div class="fw-bold text-gray-400 mb-6"></div>
                <div class="d-flex flex-center flex-wrap">
                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700"> 0 PPC</div>
                        <div class="fw-bold text-gray-400">موجودی کامل</div>
                    </div>

                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700">0 PPC</div>
                        <div class="fw-bold text-gray-400">موجودی قابل برداشت</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* <div class="col-md-6 col-xxl-4">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="/theme/Desktop/assets/media/wallet/Billiard-wallet-bitcoin.jpg" alt="image">
                </div>
                <a asp-controller="Wallet" asp-action="Toman" asp-area="@AreaConstants.DashboardArea"
                    class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">کیف پول بیتکوین</a>
                <div class="fw-bold text-gray-400 mb-6"></div>
                <div class="d-flex flex-center flex-wrap">
                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700"> 0 بیتکوین</div>
                        <div class="fw-bold text-gray-400">موجودی کامل</div>
                    </div>

                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700">0 بیتکوین</div>
                        <div class="fw-bold text-gray-400">موجودی قابل برداشت</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-xxl-4">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="/theme/Desktop/assets/media/wallet/Billiard-wallet-ethereum.png" alt="image">
                </div>
                <a asp-controller="Wallet" asp-action="WebMoney" asp-area="@AreaConstants.DashboardArea"
                    class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">کیف پول اتریوم</a>
                <div class="fw-bold text-gray-400 mb-6"></div>
                <div class="d-flex flex-center flex-wrap">
                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700"> 0 اتریوم</div>
                        <div class="fw-bold text-gray-400">موجودی کامل</div>
                    </div>

                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700">0 اتریوم</div>
                        <div class="fw-bold text-gray-400">موجودی قابل برداشت</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xxl-4">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="/theme/Desktop/assets/media/wallet/Billiard-wallet-cardano.jpg" alt="image">
                </div>
                <a asp-controller="Wallet" asp-action="Billiard" asp-area="@AreaConstants.DashboardArea"
                    class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">کیف پول کاردانو</a>
                <div class="fw-bold text-gray-400 mb-6"></div>
                <div class="d-flex flex-center flex-wrap">
                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700"> 0 کاردانو</div>
                        <div class="fw-bold text-gray-400">موجودی کامل</div>
                    </div>

                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                        <div class="fs-6 fw-bolder text-gray-700">0 کاردانو</div>
                        <div class="fw-bold text-gray-400">موجودی قابل برداشت</div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

</div>